.header{
    &__contact{
        background-color: rgba(248, 248, 248, 1);
        &__col{
            display: flex;
            align-items: center;
            gap: 50px;
            color: rgba(102, 102, 102, 1);
            font-size: 14px;
            font-weight: 500;
            &:last-of-type{justify-content: end;}
            &__border{
                position: relative;
                &::before{
                    content: '';
                    background-color: #4d48486e;
                    width: 2px;
                    height: 60%;
                    position: absolute;
                    top: 50%;
                    left: -26.5px;
                    transform: translateY(-50%);
                    @media (max-width: 776px) {
                          display: none !important;
                      }
                }
            }
            .fa-solid, .fas , .fa-regular, .far{
                color: rgba(30, 200, 160, 1);
            }
            @media (max-width: 320px) {
                gap: 0;
                width: 100%;
                flex-wrap: wrap;
                justify-content: center !important;
            }
        }
    }
    .navbar{background-color: #FFF}
    .fixed-top{top: 36px; transition: .3s;}
    .navbar-nav{padding: 0 !important;}
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-left: 0 !important;
        padding-right: 1.5rem;
        font-weight: bold;
    }
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show{color: rgba(30, 200, 160, 1);}

    .carousel{margin-top: 85px;}
    .carousel-item{
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.6);
        }
        img{
            height: 625px !important;
        }
    }

    .carousel-caption{
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h5{
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 15px;
            @media (max-width: 992px) {
                font-size: 30px;
            }
            @media (max-width: 776px) {
                font-size: 18px;
                font-weight: 500;
                margin: 6px;
            }
        }
        p{
            color: rgba(248, 248, 248, 1);
            font-weight: 400;
            @media (max-width: 992px) {
                font-size: 14px;
            }
            @media (max-width: 776px) {
                font-size: 10px;
                margin: 3px;
            }
        }
        button{
            border: none;
            width: 200px;
            padding: 10px;
            border-radius: 10px;
            background: rgba(30, 200, 160, 1);
            color: #FFF;
            font-weight: bold;
            @media (max-width: 992px) {
                width: 160px;
                font-size: 14px;
            }
            @media (max-width: 776px) {
                width: 100px;
                padding: 6px;
                font-size: 10px;
                font-weight: normal;
            }
        }
    }

    .carousel-indicators [data-bs-target]{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: transparent;
        border: 1px solid #FFF;
        @media (max-width: 776px) {
            width: 10px;
            height: 10px;
        }
    }
    .carousel-indicators .active{
        background-color: rgba(30, 200, 160, 1);
        border-color: rgba(30, 200, 160, 1);
        width: 35px;
        border-radius: 20px;
        @media (max-width: 776px) {
            width: 25px
        }
    }

    .carousel-control-next-icon, .carousel-control-prev-icon{
        @media (max-width: 776px) {
            width: 20px
        }
    }
}