.popular__qa{
    padding-bottom: 80px;
    h3{
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        color: rgba(9, 9, 9, 1);
        margin-bottom:20px ;
        @media (max-width: 776px) {
            font-size: 16px;
        }
    }
    .accordion-button::after{
        margin-right: auto !important;
        margin-left: 0 !important;
    }

    // .accordion-flush>.accordion-item:first-child{
    //     border-top: 1px solid #dee2e6;
    // }
    .accordion-item{
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        margin-bottom: 15px;
        border-top: 1px solid #dee2e6;
    }
    .accordion-flush>.accordion-item:last-child{
        border-bottom: 1px solid #dee2e6;
        margin-bottom: 0;
    }

    .accordion-item:first-of-type>.accordion-header .accordion-button,
    .accordion-button{
        @media (max-width: 776px) {
            font-size: 12px;
            text-align: right;
        }
    }
    .accordion-body{
        @media (max-width: 776px) {
            font-size: 12px;
        }
    }
}