.services{
    padding: 80px 0;
    &__content{
        display: grid;
       grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
       gap: 40px 0;
       @media (max-width: 776px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
       }
       &__item{
        h3{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
        }
        p{
            color: rgba(102, 102, 102, 1);
            margin: 0;
        }
        @media (max-width: 1200px) {
            text-align: center;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
       }
    }
}